<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <header>
    <h1><i class="fa-brands fa-youtube"></i>YouTube > API Data > Channels Search</h1>
  </header>
  <main>
    <label for="channelName" class="channel-label">Channel Name:</label>
    <input class="channel-input" #channelName type="text" placeholder="Youtube Channel.." required>
  <br><br>
  <button (click)="onGetChannelName()" class="channels-btn">Get Channels</button>
  <div class="wrapper">
  <div class="channels-wrapper" *ngFor="let channel of channels">
   <div class="tmb-wrapper">
    <a target="_blank" href="https://www.youtube.com/channel/{{channel.id.channelId}}">
    <img width="200" height="200" src="{{channel.snippet.thumbnails.medium.url}}">
    </a>
</div>    
<div class="text-wrapper">
  {{channel.snippet.channelTitle}}
</div>
</div>
  </div>
</main>
</body>
</html>
